/* .Header {
    background-color: #959595;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    min-height: calc(5 * 1.2em); 
    margin: 16px 0;
    padding: 16px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 

}

.Header ul {
    display: flex;
    list-style: none; 
    padding: 0; 
    margin: 0;
} 
    
.Header li {
    margin-right: 20px; 
} */

.Header {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    min-height: calc(2 * 1.2em); 
    margin: 16px 0;
    padding: 16px; 
    border-radius: 8px; 
    color: var(--color-secondary);
    font-weight: bold;
}

.Header ul {
    display: flex
    list-style: none; 
    padding: 0; 
    margin: 0;
    gap:calc(10 * 1.2em);

} 
    
.Header li {
    margin-right: 20px; 
}