/* .Footer {
    background-color: #959595;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(5 * 1.2em); 
    margin: 16px 0; 
    padding: 16px; 
    border: 1px solid #ddd;
    border-radius: 8px; 

}
 */