@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);



.artworkTitle {
    font-size: 3.7em;
    font-weight: bolder;

    word-wrap: break-word;
    font-family: "Lexend Zetta", "Noto Sans JP", -apple-system, serif;
    text-align: left;
    margin-top: 0;
  


    @media (max-width: 767px) {
        font-size: 3em; 
        letter-spacing: -0.5px;
        font-weight: bolder;
      }
}

.articleWrapper {
    flex: 1;
    padding: 1rem;
}

