@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');


.main {
  display: flex;
  justify-content: flex-end;
}


.pageLogo {
  font-family: "Lexend Zetta", serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  opacity: 0px;
  margin-top: 2%;
  margin-bottom: 1%;
  gap: 0.25rem;
  max-width: 100%;
  word-wrap: break-word;
  @media (max-width: 767px) {
    font-size: 54px; /* 0.75 * 72px */
    letter-spacing: -0.5px;
    font-weight: 500;
  }

  
}

.image {
  height: 50vh;
  width: auto;
  max-width: 100vw;
  object-fit: contain;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 50vh;
  width: auto;
  padding-bottom: 3em;

  @media (min-width: 768px) {
    height: 50vh;
    width: auto;
  }
}