@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

.pageLogo {
  font-family: "Lexend Zetta", serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;

  height: 138px;
  top: 12px;
  left: 24px;
  gap: 0px;
  opacity: 0px;
  margin:0%;
}

.image {
  height: 50vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;

  @media (min-width: 768px) {
    height: 50vh;
    width: auto;
  }
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50vh;
  width: auto;

  @media (min-width: 768px) {
    height: 50vh;
    width: auto;
  }
}